/*=========== RESET ==========*/
* {margin: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box;
font-family: 'Lato', sans-serif;}
body {background-color: #f5f5f5;}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}
/*=========== CONTAINER ==========*/
.container {width: 100%; float: left; padding: 3% 3%; text-align: center;}
.container .album-fotos {text-align: left; padding: 0; margin: auto;}
/*=========== BG COLORS ==========*/
.bg-gradient {background: linear-gradient(to right,#3d0303,#ff0000);}
.bg-black {background-color: #000000; }
.bg-white {background-color: #fff;}
/*=========== HELPERS ==========*/
.radius {border-radius: 7px;}
/* CABEÇALHO */
.logo {width: 56px; height: 56px; float: left; background: url(logo-mobile.png) center center/56px no-repeat;
font-size: 0;}
.btn-menu {width: 56px; height: 56px; float: right; text-align: center; color: #fff; border-radius:56px; cursor: pointer;}
/* MENU */
.menu {display:none; width: 100%; height: 100%; position: fixed; background-color: rgba(0,0,0,0.9); top: 0; left: 0;}
.btn-close {font-size: 1.5em; color: #fff; float: right; cursor: pointer; margin: 2% 3% 0 0;}
.menu ul {width: 100%; float: left; text-align: center;}
.menu li {padding: 1.5%;}
.menu li a {font-size: 2em; color: #fff; padding: 1.5% 3%;}
.menu li a.ativo {color:#ff0000;}
.menu li a:hover {border:1px solid #ff0000;}
/* BANNER */
.banner {background: url("bg.jpg") no-repeat fixed;}
.banerblog {background: url("jesus-leao-nuvem.jpg") no-repeat fixed;}
.title {width: 100%;}
.title h2 {font-size: 2.5em; color: #fff; font-weight: 700;}
.title h3 {font-size: 1.5em; color: #fff;}
.titleblog h3 {font-size: 1.5em; color: #000;}
.buttons {width: 100%; margin-top: 2%;}
.buttons i {float: right;}
.btn {width: 100%; font-size: 1.5em; text-align: left; cursor: pointer; padding: 5%; }
.btn-cadastrar { color: #000000;}
.btn-sobre {color:#fff ; margin-top: 2%;}
/* SERVIÇOS */
.servico {width: 100%;  text-align: left;  margin-bottom: 3%;}
.servico img {border-radius: 7px 7px 0 0;}
.inner {padding: 7%;}
.inner a {font-size: 1.5em; color: #000000; font-weight: 700; }
.inner h4 {font-size: 1.2em; color: #000000; margin-top: 2%; }
.inner p {margin-top: 6%; color: #000000; line-height: 1.5em;}
/* NEWSLETTER */
.newsletter h2 {font-size: 1.5em; color: #fff; font-weight: 700;}
.newsletter h3 {color: #fff;}
.newsletter form {margin-top: 2%;}
.newsletter input {width: 100%;  color: #fff; border: 1px solid rgba(255,255,255,0.3); padding: 5%; }
.newsletter button {width: 100%;  color:#000000; padding: 5%; cursor: pointer; margin-top: 2%; }
/* RODAPÉ */
.social-icons a {font-size: 1.5em; color: rgba(255,255,255,0.7); margin-right: 3%;}
.social-icons a:last-child {margin-right: 0;}
.social-icons a:hover {color: rgb(255,255,255);}
.copyright {color: rgba(255, 255, 255, 0.7); margin-top:2%;}

/*=================FOTO LEGENDA==========-*/
img, video {
    max-width:100%;
}

.album-fotos {
   margin: 10px;
   padding: 10px;
   overflow: hidden;
   list-style:none;  
   /*width: 100%;*/ 
}
/*Album*/
.album-fotos li { 
   float: left;
   width: 200px;
   height:200px;
   margin: 20px 20px 20px;
   border: 5px solid white;
   background-color: #ffffff;
   box-shadow: 1px 1px 3px rgba(0,0,0,.4);
   -webkit-transition: all .4s ease-in; /*indicando a forma que a imagem vai crescer, ou seja de forma suave*/  
}
/*Texto interno*/
.album-fotos li span {
   opacity: 0; /*esconde a imagem*/
   color: #ffffff;
   text-shadow: 1px 1px 1px #000000;
   background-color: rgba(0,0,0,.3);
   font-size: 9pt;
   line-height: 355px; /*desloca a texto para onde quiser*/
   padding: 5px; /*margem interna no botão*/ 
   margin: auto; 
}
/*Aumento do ZOM*/
.album-fotos li:hover {
   -webkit-transform: scale(1.3);
}

.album-fotos li a{
     text-decoration: none;
}

.album-fotos li:hover span { /*quando passar o mouse por cima a legnda aparecerá*/
   opacity: 1;
}

.album-fotos li#foto01 {
   background: url("1_joao_2_1.jpg") no-repeat;
   background-position: 50% 50%; /*posicionando a imagem no centro*/
   background-size: 540px 540px; /*tamanho original da imagem*/
   background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/    
}

.album-fotos li#foto01:hover {
   background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
   background-size: 190px 190px; /*volta a mostrar a imagem menor*/
}

.album-fotos li#foto02 {
    background: url("1_joao_2_2.jpg") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}

.album-fotos li#foto02:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}

.album-fotos li#foto03 {
    background: url("1_joao_2_3.jpg") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}

.album-fotos li#foto03:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}

.album-fotos li#foto04 {
    background: url("1_joao_2_4.jpg") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}

.album-fotos li#foto04:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}

.album-fotos li#foto05 {
    background: url("1_joao_2_5.jpg") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}

.album-fotos li#foto05:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}

.album-fotos li#foto06 {
    background: url("1_joao_2_6.jpg") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}

.album-fotos li#foto06:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}

.album-fotos li#foto07 {
    background: url("mateus_5_37.jpg") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}

.album-fotos li#foto07:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}

.album-fotos li#foto08 {
    background: url("romanos_13_13_14.jpg") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}

.album-fotos li#foto08:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}

.album-fotos li#foto09 {

    background: url("galatas_5_22_23.jpg") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}

.album-fotos li#foto09:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}

.album-fotos li#foto10 {
    background: url("filipenses_4_13.jpg") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}

.album-fotos li#foto10:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}
/* ========== MOBILE FIRST ==========*/
/* SMALL DEVICES - SMARTPHONES */
@media screen and (min-width: 480px) {
.logo {width: 214px; background: url("logo.png") center center/214px no-repeat;}
.btn {font-size: 2em;}
.servico .album-fotos {width: 100%; margin: auto;}
}
/* SMALL DEVICES - TABLETS*/
@media screen and (min-width: 768px) {
.servico {width: 49%; float: left; margin-right: 2%;}
.servico:nth-child(2){margin-right: 0;}
.newsletter h2 {font-size: 2em;}
.newsletter h3 {font-size: 1.5em;}
.newsletter input {width: 70%; padding: 2%; float: left; margin-right: 1%;}
.newsletter button {width: 29%; padding: 2%; float: right; margin-top: 0;}
}
/* MEDIUM DEVICES - TABLETS & DESKTOPS*/
@media screen and (min-width: 960px) {
.title {width: 70%; float: left; text-align: left;}
.title h2 {font-size: 3em;}
.title h3 {font-size: 2em;}
.buttons {width: 30%; float: right; margin-top: 0; }
.servico {width: 32%; }
.servico:nth-child(2){margin-right: 2%;}
.servico:nth-child(3){margin-right: 0;}
.newsletter input {width: 60%; float: none;}
.newsletter button {width: 20%; float: none;}
}
/* LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 1280px) {
.btn-menu {display: none;}
.btn-close {display: none;}
.menu {width: auto; height: 56px; line-height: 56px; float: right; background-color: #f5f5f5; 
display: block !important; position: static;}
.menu li {padding: 0; float: left;}
.menu li a {color:#000000; font-size: 1em; padding: 15px; }
.menu li a:hover {border: none; color:#ff0000; }
}
.sobre {width: 100%; margin-right: 3%; padding: 3% 4%; text-align: justify; font-size: 1.5em;}


